.logoAngular {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoBootstrap {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoCss {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px; 
}

.logoGit {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoGithub {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoHtml5 {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoJava {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoJavaScript {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoMysql {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoOffice {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoScrum {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.logoSprinBoot {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
