<h3>Hard & Soft Skills</h3><br>

<img class="logoAngular" src="../../../assets/images/logos/logoangular.png" alt="logo"/>
<img class="logoBootstrap" src="../../../assets/images/logos/logobootstrap.png" alt="logo"/>
<img class="logoCss" src="../../../assets/images/logos/logocss.png" alt="logo"/>
<img class="logoGit" src="../../../assets/images/logos/logogit.png" alt="logo"/>
<img class="logoGithub" src="../../../assets/images/logos/logogithub.png" alt="logo"/>
<img class="logoHtml5" src="../../../assets/images/logos/logohtml5.png" alt="logo"/>

<div class="lista">
<h3><li *ngFor="let skill of skills">{{skill.skill}}&nbsp;{{skill.capacidad}}<br>Nivel :&nbsp;{{skill.nivel}}<br><br></h3>
  

<img class="logoJava" src="../../../assets/images/logos/logojava.png" alt="logo"/>
<img class="logoJavaScript" src="../../../assets/images/logos/logojavascript.png" alt="logo"/>
<img class="logoMysql" src="../../../assets/images/logos/logomysql.png" alt="logo"/>
<img class="logoOffice" src="../../../assets/images/logos/logooffice.png" alt="logo"/>
<img class="logoScrum" src="../../../assets/images/logos/logoscrum.png" alt="logo"/>
<img class="logoSprinBoot" src="../../../assets/images/logos/logospringboot.png" alt="logo"/>
<br>
<br>
</div>