    <div class="div-logo">
        <a href="#">
            <img class="logoArgentinaPrograma" src="../../../assets/images/logoArgentinaPrograma.jpg" alt="logo"/>
        </a>
        <h1>Argentina Programa</h1>
        <br>
        <h2>#YoProgramo</h2> 
    </div>
    <div class="header-right">
        <div class="social">
            <a link href="https://www.linkedin.com/in/jonathanschonholz/"> <img class="logoLinkedin" src="../../../assets/images/logoLinkedin.png" title="linkedin"></a>  
            <a link href="https://www.facebook.com/joni.schonholz"> <img class="logoFacebook" src="../../../assets/images/logoFacebook.png" ></a>
            <a link href="https://twitter.com/joni10ds" class="twitter"> <img class="logoTwitter" src="../../../assets/images/logoTwitter.png" ></a>
        </div>
        <!-- Agregar url de login-->
        <a href="#" class="login"><img src="../../../assets/images/loginbutton.png" ></a>
   </div>
    
    <div class="banner">
        <img class="banner" src="../../../assets/images/banner.png">
    </div>
    <div class="acerca">
        <div class="picture">
        <img src="../../../assets/images/foto perfil.jpg">
    
    </div>
 
    

