<br>
<ul class="lista">
    <h3><li *ngFor="let persona of personas">{{persona.nombre +" "+ persona.apellido}}</li></h3>
    <br>
    <h4><li *ngFor="let persona of personas">{{persona.titulo1}}&nbsp;&nbsp;<img src="../../../assets/images/logoArgentinaPrograma.jpg" height="30" width="40"></h4>
    <br>    
    <h4><li *ngFor="let persona of personas">{{persona.titulo2}}&nbsp;&nbsp;<img src="../../../assets/images/logoUBA.png" height="30" width="40"></h4>
    <!-- <img class="edit1" src="../../../assets/images/edit.png" height="60" width="80">-->    
    <br>
    <h3>Email</h3> 
    <h5><li *ngFor="let persona of personas">{{persona.email}}</h5>
    <br>
    <h3>Acerca de mi</h3>
    <h5><li *ngFor="let persona of personas">{{persona.acercade}}</li></h5>               
    <br>
    <br>
</ul>
