<div class="textoacerca">
    <h3>Jonathan David Schonholz</h3>
    <h4>Full Stack Developer Jr</h4>
    <img src="../../../assets/images/logoArgentinaPrograma.jpg" height="30" width="40"><br><br>
    <h4>Comunicador Social</h4>
    <img src="../../../assets/images/logoUBA.png" height="30" width="40"> 
    <img class="edit1" src="../../../assets/images/edit.png" height="60" width="80">        
</div>

<div class="infoacercade">
    <h3>Acerca de</h3>
    <p>Comunicacor social amante de las TICs, los idiomas y el deporte.</p><br><br>
    <button class="edit_text"></button>

</div>